<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elorrieta.diet_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DietApp">
        <activity android:name=".AcercaDeActivity"
            android:label="Acerca de ..."
            android:theme="@style/Theme.AppCompat.Light.Dialog"/>
        <activity android:name=".listaCompra" />
        <activity android:name=".Almacen" />
        <activity android:name=".DietaFinDe" />
        <activity android:name=".DietaDiaria" />
        <activity
            android:name=".detallesReceta"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DietaSemanal"
            android:screenOrientation="landscape" />
        <activity
            android:name=".FiltroListaCompraAlmacen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Dietario"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Visualizar_Recetas"
            android:screenOrientation="landscape" />
        <activity android:name=".MainActivity"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>